* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
  scroll-behavior: smooth;
}

body {
  background: #0f172a;
  color: white;
  overflow-x: hidden;
}

/* NAVBAR */
.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  padding: 20px 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(15, 23, 42, 0.6);
  backdrop-filter: blur(15px);
  z-index: 1000;
}

.logo {
  font-weight: bold;
  font-size: 22px;
  color: #38bdf8;
}

.nav-links {
  display: flex;
}

.nav-links a {
  color: white;
  text-decoration: none;
  margin-left: 25px;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #38bdf8;
}

/* HERO */
.hero {
  min-height: 90vh;
  padding: 120px 8% 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-text h1 {
  font-size: 50px;
}

.hero span {
  background: linear-gradient(90deg, #38bdf8, #0ea5e9);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}


.intro {
  margin: 20px 0;
  max-width: 700px;
  line-height: 1.6;
  color: #cbd5e1;
}

.typewriter {
  font-size: 26px;
  color: #38bdf8;
}

/* SECTIONS */
.section {
  padding: 100px 8%;
  text-align: center;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
}

.about-image img {
  width: 280px;
  border-radius: 20px;
  box-shadow: 0 20px 60px rgba(0,0,0,0.6);
}

.about-contact {
  margin-top: 20px;
  color: #38bdf8;
}

.about-text {
  max-width: 500px;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.card {
  padding: 30px;
  border-radius: 20px;
  background: rgba(255,255,255,0.05);
  transition: 0.4s;
}

.card:hover {
  transform: translateY(-10px);
  border: 1px solid #38bdf8;
}

/* SKILLS */
.skill {
  margin-bottom: 25px;
  text-align: left;
}

.bar {
  height: 8px;
  background: #334155;
  border-radius: 10px;
}

.bar span {
  display: block;
  height: 100%;
  background: linear-gradient(90deg, #38bdf8, #0ea5e9);
  border-radius: 10px;
}

/* NEWSLETTER */
.newsletter {
  padding: 80px 8%;
  text-align: center;
  background: rgba(255,255,255,0.05);
}

.newsletter-form {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.newsletter-form input {
  padding: 12px 18px;
  width: 280px;
  border-radius: 30px;
  border: none;
  outline: none;
}

.newsletter-form button {
  padding: 12px 25px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  background: linear-gradient(90deg, #38bdf8, #0ea5e9);
  color: black;
}

footer {
  padding: 20px;
  text-align: center;
  background: black;
}

/* MOBILE */
.hamburger {
  display: none;
}

@media (max-width: 768px) {
  .about-content {
    flex-direction: column;
  }

  .nav-links {
    display: none;
  }
}
