* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
  scroll-behavior: smooth;
}

body {
  background: #0f172a;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 8%;
  position: sticky;
  top: 0;
  background: rgba(15, 23, 42, 0.9);
  backdrop-filter: blur(10px);
  z-index: 1000;
}

.logo {
  font-weight: bold;
  font-size: 22px;
  color: #38bdf8;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 25px;
  transition: 0.3s;
}

nav a:hover {
  color: #38bdf8;
}

/* HERO */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 8%;
  background: linear-gradient(to right, #0f172a, #1e293b);
}

.hero-text h1 {
  font-size: 45px;
  margin-bottom: 20px;
}

.hero-text span {
  color: #38bdf8;
}

.hero-text p {
  margin-bottom: 30px;
  color: #cbd5e1;
}

.btn {
  padding: 12px 28px;
  background: #38bdf8;
  color: black;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.btn:hover {
  background: white;
}

.hero-image img {
  width: 300px;
  border-radius: 20px;
  box-shadow: 0 10px 40px rgba(0,0,0,0.5);
}

/* SECTIONS */
.section {
  padding: 100px 8%;
  text-align: center;
}

.light {
  background: #1e293b;
}

h2 {
  font-size: 32px;
  margin-bottom: 40px;
  color: #38bdf8;
}

/* SERVICES */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.card {
  background: #0f172a;
  padding: 30px;
  border-radius: 15px;
  transition: 0.4s;
  border: 1px solid rgba(255,255,255,0.05);
}

.card:hover {
  transform: translateY(-10px);
  background: #1e293b;
}

/* SKILLS */
.skill {
  margin-bottom: 25px;
  text-align: left;
}

.bar {
  height: 8px;
  background: #334155;
  border-radius: 10px;
}

.bar span {
  display: block;
  height: 100%;
  background: #38bdf8;
  border-radius: 10px;
  transition: width 1s ease-in-out;
}

/* CONTACT */
.contact {
  background: #020617;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-link {
  color: #38bdf8;
  font-size: 18px;
  text-decoration: none;
  transition: 0.3s;
}

.contact-link:hover {
  color: white;
}

footer {
  padding: 20px;
  text-align: center;
  background: black;
  font-size: 14px;
}
